@model SzkolaWebApp.DAL.Paragraph
@{
    ViewBag.Title = "AddParagraphToPage";
}

<h2>Add paragraph</h2>

<!-- Site content -->
<section class="site-element site-content content">
    <h2>@ViewBag.Title</h2>
    <div class="content-wrapper">
        @using (Html.BeginForm("AddParagraph", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Content)
            <input type="submit" value="dodaj" />
        }
        
    </div>
</section>
