
@section styles {
    @Styles.Render("~/Content/css/history.css")
}

<!-- Site content -->
<section class="site-element site-content content">
    <h2>@ViewBag.Title</h2>
    <div class="content-wrapper">
        <p>
            Pierwsze dokumenty świadczące o istnieniu szkoły w Kaskach pochodzą z XVI wieku. Potwierdzeniem, że była tu Szkoła Parafialna, są informacje zawarte w Słowniku Geograficznym z 1882 r. Pierwszym nauczycielem był Jacenty Rejkowski. Następne wydarzenia są napisane na podstawie Kronik, które mówią o wydarzeniach z lat 60-tych i 70-tych.25 czerwca 1961 roku w okresie Obchodów Tysiąclecia Państwa Polskiego ludność tutejsza przy wydatnej pomocy całego społeczeństwa podjęła apel budowy Tysiąca Szkół na Tysiąclecie Państwa Polskiego i postanowiła wybudować szkołę. Rosły zręby nowego budynku, zajęcia szkolne odbywały się w trzech starych, walących się budynkach. Nauczyciele w czasie przerw musieli wędrować z jednego do drugiego, niosąc ze sobą potrzebne do lekcji pomoce naukowe. Warunki pracy były ciężkie. Szkoła liczyła wówczas 342 uczniów. Zajęcia musiały się więc odbywać na trzy zmiany. Lekcje kończyły się najczęściej o godz. 17.15. Wieczorami odbywały się kursy dla dorosłych w zakresie szkoły podstawowej.
            <img id="przyj-imienia" src="~/Content/images/kaski-1.jpg" alt="przyjecie imienia">
            W tym czasie kierownikiem szkoły był PanTadeusz Czajkowski. Poczet sztandarowy Szkoła KaskiW styczniu 1963 r. oddano do użytku główną część nowego budynku. W ciągu 3 dni budynek został przygotowany do zajęć lekcyjnych. Rozpoczęły się zajęcia dla 11 oddziałów tj. 330 uczniów oraz dla szkoły Przysposobienia Rolniczego. W ciągu zimy wykończono piwnice i hydrofornię oraz salę gimnastyczną. Uczniowie rozpoczęli naukę w nowej, pięknej szkole.Lata 70-te to zmiany w oświacie. Rozpoczęły się pierwsze reformy. Od 1971 r. dyrektorem szkoły została Pani Maria Sitarska. Lata 70-te obfitowały w wiele uroczystości, olimpiad, konkursów. W tym czasie również uroczyście obchodzono przyjęcie klasy pierwszej w poczet uczniów – nazwano to wydarzenie „Ślubowaniem Klasy Pierwszej”.W latach 70-tych w czasie wakacji organizowano przy szkole tzw. „dziecińce”, zapewniały one opiekę dzieciom, których rodzice pracowali przy żniwach.W roku 1978 dyrektorem szkoły został Pan Andrzej Abczyński. Wtedy rok szkolny rozpoczynał się od21 sierpnia, młodzież uczyła się w ośmiu oddziałach i pracowało 11 nauczycieli.
            Lata 80-te rozpoczynają rok szkolny od 1 września.
            <br><br>
            W roku szkolnym 1984 – 1985 po kolejnej reformie oświaty i rozwiązaniu Zbiorczych Szkół Gminnych powraca na stanowisko dyrektora Pani Maria Sitarska, a Pan Andrzej Abczyński zostaje Inspektorem Oświaty w Baranowie. W latach 80-tych szkoła kontynuuje swoje tradycje. W roku 1988 – 1989 na emeryturę odchodzi Pani Maria Sitarska a dyrektorem szkoły zostaje Pani Grażyna Tober.
            <br><br>
            W roku 2000 – 2001 po reformie oświaty w Kaskach zaczyna funkcjonować Publiczna Szkoła Podstawowa. Uczniowie uczęszczają do sześcioletniej szkoły. Gimnazjum powołano w Baranowie. Dzieci do szkół dowożone są autobusem szkolnym, który potocznie jest nazywany „gimbusem”. W tym samym roku dokonano remontu szkoły: powstała nowa szatnia, świetlica, sekretariat i kancelaria. Do szkoły uczęszcza 250 uczniów.
            <br><br>
            W roku 2005 – 2006 kolejna zmiana. Na prośbę uczniów i rodziców powołano Publiczne Gimnazjum. Dyrektorem szkoły została Pani Anna Sadoś.
            <br><br>
            Od września 2005 roku rozpoczęto starania o nadanie szkole imienia. W związku z tym wśród uczniów, rodziców i nauczycieli przeprowadzono ankiety , z których wynikało, że większość osób jest za nadaniem szkole imienia Orła Białego.
            <br><br>
            Rada Gminy uchwałą nr XXXV/193/2006 z dnia 28 lutego 2006 roku postanowiła, że Zespół Szkół w Kaskach będzie nosił imię Orła Białego. Uroczystość nadania imienia odbyła się we wrześniu 2006 roku.
            <br><br>
            Podjęto szereg działań związanych z przygotowaniem uroczystości i ceremonii nadania imienia. Opracowano projekt i zamówiono sztandar szkoły. Odbył się konkurs plastyczny na logo szkoły, w klasach i na korytarzach wykonano gazetki tematyczne, w gazecie szkolnej „Gadu-Gadu” zaprezentowano historię Orła Białego, przeprowadzono cykl godzin wychowawczych poświęconych tej tematyce, była prowadzona kronika zdarzeń związanych z nadaniem szkole imienia, opracowano i wydano folder szkoły.
            <br><br>
            Sama uroczystość miała miejsce 7 X 2006r. Uczniowie, rodzice, nauczyciele oraz zaproszeni goście zebrali się na dziedzińcu szkoły, by następnie udać się do kościoła.
            <img id="swiecenie" src="~/Content/images/kaski-2.jpg" alt="swiecenie sztandaru">
            Na czele grupy szli uczniowie ze sztandarami: Zespołu Szkół w Bożej Woli, Zespołu Szkół  w Baranowie, Szkoły Podstawowej w Golach i sztandarem naszej szkoły.Następnie wszyscy uczestniczyli we Mszy św., którą celebrował ks. Biskup Tadeusz Pikus. Podczas Mszy św. nastąpiło poświęcenie nowego sztandaru naszej szkoły. Poświęcenie biskupa Szkoła KaskiKolejnym punktem uroczystości było poświęcenie pamiątkowego kamienia przygotowanego na dziedzińcu szkoły. Tablice pamiątkową poświęcił ks.Biskup, który przybył na teren szkoły w asyście władz, uczniów naszego gimnazjum i Orkiestry Strażackiej.Dalsza część uroczystości przebiegała już na terenie szkoły. Uczniowie zaprezentowali program słowno-muzyczny związany tematycznie z Orłem Białym – patronem naszej szkoły. Odbył się też pokaz multimedialny, na którym przedstawiono dzieje  i historię szkoły. Dostarczył on wielu wzruszeń szczególnie naszym gościom – nauczycielom emerytom.Następnie Pani Dyrektor Anna Sadoś podziękowała wszystkim, którzy przyczynili się do uświetnienia tej uroczystości oraz pomagali szkole w przygotowaniach. Wręczyła listy gratulacyjne sponsorom.
        </p>
    </div>
</section>
