
@section styles {
    @Styles.Render("~/Content/css/gallery.css")
}

<!-- Site content -->
<section class="site-element site-content">
    <h2 class="hidden">@ViewBag.Title</h2>

    <article>
        <header class="news-header">
            <h3 class="news-title">Some title I don't know</h3>
            <div class="news-pubdate">05.01.2018</div>
        </header>
        <div class="content">
            <p>
                Lorem ipsum dolor sit um dolor sit amet, consectetur adipiscing elit. Donec placerat placerat metus condimentum pretium.um dolor sit amet, consectetur adipiscing elit. Donec placerat placerat metus condimentum pretium.um dolor sit amet, consectetur adipiscing elit.um dolor sit amet, consectetur adipiscing elit. Donec placerat placerat metus condimentum pretium.um dolor sit amet, consectetur adipiscing elit. Donec placerat placerat metus condimentum pretium.um dolor sit amet, consectetur adipiscing elit. Donec placerat placerat metus condimentum pretium. Donec placerat placerat metus condimentum pretium.amet, consectetur adipiscing elit. Donec placerat placerat metus condimentum pretium.um dolor sit amet, consectetur adipiscing elit. Donec placerat placerat metus condimentum pretium.um dolor sit amet, consectetur adipiscing elit. Donec placerat placerat metus condimentum pretium. Aliquam pretium elit luctus arcu tristique cursus eu id nibh. Nunc convallis, turpis sit amet malesuada auctor, magna ante mattis dui, ut posuere ipsum neque sed elit. Ut cursus congue enim vitae dapibus. Vivamus tempus vel enim mollis faucibus. Etiam malesuada ultrices nisi, et dapibus sem facilisis eu. Mauris id lorem et nisi iaculis hendrerit. Maecenas dictum venenatis interdum. Suspendisse venenatis tincidunt egestas. Mauris tincidunt mauris et efficitur varius. Ut convallis quam sit amet tortor eleifend, et lobortis diam fermentum. In hac habitasse platea dictumst.Aliquam feugiat nulla sed lorem mollis, ut consectetur libero pharetra. Cras dapibus turpis enim, quis lacinia urna sollicitudin et. Nunc metus nunc, ullamcorper sed libero eget, hendrerit gravida dolor. Cras lorem lectus, facilisis non odio sed, sagittis pulvinar velit. Fusce tempus, eros sed elementum blandit, libero nibh dictum nibh, eu hendrerit elit enim ac dui. Maecenas tincidunt porta ante vitae malesuada. Nam aliquet cursus eleifend. Aenean condimentum malesuada lectus, non iaculis ipsum scelerisque sit amet.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat placerat metus condimentum pretium. Aliquam pretium elit luctus arcu tristique cursus eu id nibh. Nunc convallis, turpis sit amet malesuada auctor, magna ante mattis dui, ut posuere ipsum neque sed elit. Ut cursus congue enim vitae dapibus. Vivamus tempus vel enim mollis faucibus. Etiam malesuada ultrices nisi, et dapibus sem facilisis eu. Mauris id lorem et nisi iaculis hendrerit. Maecenas dictum venenatis interdum. Suspendisse venenatis tincidunt egestas. Mauris tincidunt mauris et efficitur varius. Ut convallis quam sit amet tortor eleifend, et lobortis diam fermentum. In hac habitasse platea dictumst.Aliquam feugiat nulla sed lorem mollis, ut consectetur libero pharetra. Cras dapibus turpis enim, quis lacinia urna sollicitudin et. Nunc metus nunc, ullamcorper sed libero eget, hendrerit gravida dolor. Cras lorem lectus, facilisis non odio sed, sagittis pulvinar velit. Fusce tempus, eros sed elementum blandit, libero nibh dictum nibh, eu hendrerit elit enim ac dui. Maecenas tincidunt porta ante vitae malesuada. Nam aliquet cursus eleifend. Aenean condimentum malesuada lectus, non iaculis ipsum scelerisque sit amet.
            </p>

            <div class="gallery-wrapper">
                <div class="gallery">
                    <div class="gallery-main-view">
                        <img class="gallery-image" src="~/Content/images/img1.jpg">
                        <img class="gallery-image" src="~/Content/images/img2.jpg">
                        <img class="gallery-image" src="~/Content/images/img3.jpg">
                        <img class="gallery-image" src="~/Content/images/img4.jpg">
                    </div>
                    <div class="gallery-arrows">
                        <div class="gallery-left-arrow">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </div>
                        <div class="gallery-right-arrow">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>

@section scripts 
{
    @Scripts.Render("~/Scripts/gallery.js")
}