@model IEnumerable<SzkolaWebApp.DAL.Photo>

@{
    ViewBag.Title = "Galeria zdjęć";
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model) {
    @Html.DisplayFor(modelItem => item.Link)
    
    <img src="@item" />

    @Html.ActionLink("Delete", "DeletePhoto", new { photoId=item.PhotoId })
}
