
<section class="site-element site-content add-article">
    <header class="add-article-header">
        <h3 class="add-article-header-text">Dodaj wpis</h3>
    </header>
    <div class="add-article-body">
        <form action="" class="add-article-form" autocomplete="off">
            <input type="text" placeholder="Tytuł">
            <textarea placeholder="Treść" onkeyup="textAreaAdjust(this)"></textarea>
            <button id="add-article-upload-img">Dodaj zdjęcia</button>

            <input type="submit" value="Wstaw">

            <div class="clear"></div>
        </form>
    </div>
</section>
