.content {
    border-radius: 4px;
}

.content-wrapper {
    padding: 1.5em;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact {
    float: left;
    width: 45%;
    box-sizing: border-box;
    text-align: center;
}

#kamien {
    float: right;
    width: 45%;
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 25em;
    margin-top: 3em;
    background-color: grey;
}
