@section styles {
    @Styles.Render("~/Content/css/informacje/informacje.css")
    @Styles.Render("~/Content/css/informacje/bells-schedule.css")
}

<!-- Site content -->
<section class="site-element site-content content">
    <h2>Rozkład dzwonków</h2>
    <div class="content-wrapper">
        <ol class="dzwonki">
            <li>07.45  –  08.30</li>
            <li>08.40  –  09.25</li>
            <li>09.35  –  10.20</li>
            <li>10.30  –  11.15</li>
            <li>11.25  –  12.10</li>
            <li>12.15  –  13.00</li>
            <li>13.10  –  13.55</li>
            <li>14.00  –  14.45</li>
        </ol>
    </div>
</section>