@section styles {
    @Styles.Render("~/Content/css/informacje/informacje.css")
    @Styles.Render("~/Content/css/informacje/bus-schedule.css")
}

<!-- Site content -->
<section class="site-element site-content content">
    <h2>Rozkład jazdy autobusu szkolnego</h2>
    <div class="content-wrapper">
        <ul class="autobusy">
            <li>07.00 - OSINY, DRYBUS</li>
            <li>07.05 - BUSZYCE</li>
            <li>07.10 - PUŁAPINA NOWA</li>
            <li>10.00 - BUSZYCE</li>
            <li>10.05 - PUŁAPINA NOWA</li>
            <li>13.00 - BUSZYCE, PUŁAPINA, DRYBUS, OSINY</li>
            <li>14.50 - BUSZYCE, PUŁAPINA, DRYBUS, OSINY</li>
        </ul>
    </div>
</section>