@section styles {
    @Styles.Render("~/Content/css/informacje/informacje.css")
    @Styles.Render("~/Content/css/informacje/educators.css")
}

<!-- Site content -->
<section class="site-element site-content content">
    <h2>Wychowawcy klas</h2>
    <div class="content-wrapper">
        <ul class="center">
            <li>kl.O  –  p.Małgorzata Kalużna</li>
            <li>kl.I  –  p.Dorota Bogucka</li>
            <li>kl.II  –  p.Elżbieta Skrzypczyńska</li>
            <li>kl.III  –  p.Maria Pietras</li>
            <li>kl.IV  –  p.Aneta Piątek</li>
            <li>kl.V  –  p.Adam Pietruszewski</li>
            <li>kl.VI  –  p.Valbona Kristo-Wojciechowska</li>
            <li>kl.VII –  p.Anna Nowak</li>
            <li>kl.IIg  –  p.Anna Nowak</li>
            <li>kl.IIIg  –  p.Elżbieta Chaber</li>
        </ul>
    </div>
</section>