@section styles {
    @Styles.Render("~/Content/css/informacje/informacje.css")
    @Styles.Render("~/Content/css/informacje/employees.css")
}


 <!-- Site content -->
<section class="site-element site-content content">
    <h2>Pracownicy szkoły</h2>
    <div class="content-wrapper">
        <div class="pracownicy">
            <div class="stanowisko">Dyrektor:</div>
            <div>Anna Sadoś</div>

            <div class="stanowisko">Wicedyrektor:</div>
            <div>Elżbieta Skrzypczyńska</div>

            <div class="stanowisko">Pedagog:</div>
            <div>Ewa Kuran</div>

            <div class="stanowisko">Logopeda:</div>
            <div>Anna Chojnacka</div>

            <div class="stanowisko">Psycholog:</div>
            <div>Beata Nasiadka</div>

            <div class="stanowisko">Nauczyciele przedmiotów:</div>
            <ul class="nauczyciele">
                <li>Biernat Anna</li>
                <li>Bogucka Dorota</li>
                <li>Chaber Elżbieta</li>
                <li>Faka Joanna</li>
                <li>Jędrzejewski Robert</li>
                <li>Kalużna Małgorzata</li>
                <li>Klata Małgorzata</li>
                <li>Kristo-Wojciechowska Valbona</li>
                <li>Mańkowska Joanna</li>
                <li>Nowak Anna</li>
                <li>Piątek Aneta</li>
                <li>Pietras Maria</li>
                <li>Pietruszewski Adam</li>
                <li>Podbielska Agnieszka</li>
                <li>Polecka Alicja</li>
                <li>Serwik Karolina</li>
                <li>Soprych Renata</li>
                <li>Szymańczak Izabela</li>
                <li>Tomaszewska Beata</li>
                <li>Wituski Przemysław</li>
                <li>ks. Wojtaś Zbigniew</li>
                <li>Wysocka Ewa</li>
            </ul>
        </div>
    </div>
</section>