@section styles {
    @Styles.Render("~/Content/css/informacje/informacje.css")
    @Styles.Render("~/Content/css/informacje/events.css")
}

<!-- Site content -->
<section class="site-element site-content content">
    <h2>Uroczystości</h2>
    <div class="content-wrapper">
        <table class="events-table">
            <tr>
                <th>Uroczystość</th>
                <th>Termin</th>
                <th>Nauczyciel odpowiedzialny</th>
            </tr>
            <tr>
                <td>Rozpoczęcie roku szkolnego</td>
                <td>Wrzesień</td>
                <td>Dyrektor</td>
            </tr>
            <tr>
                <td>Wybór kandydatów do SU</td>
                <td>Wrzesień</td>
                <td>p. A. Pietruszewski, p. A. Nowak</td>
            </tr>
            <tr>
                <td>Sprzątanie świata</td>
                <td>Wrzesień</td>
                <td>p. E. Chaber, p. E. Wysocka</td>
            </tr>
            <tr>
                <td>Dzień Edukacji Narodowej</td>
                <td>Październik</td>
                <td>p. E. Skrzypczyńska</td>
            </tr>
            <tr>
                <td>Ślubowanie klasy pierwszej</td>
                <td>Październik</td>
                <td>p. E. Chaber</td>
            </tr>
        </table>
    </div>
</section>