@section styles {
    @Styles.Render("~/Content/css/informacje/informacje.css")
    @Styles.Render("~/Content/css/informacje/holidays.css")
}

 <!-- Site content -->
<section class="site-element site-content content">
    <h2>Dni wolne od zajęć</h2>
    <div class="content-wrapper">
        <ul class="center">
            <li>18, 19, 20  kwietnia 2018</li>
            <li>30  kwietnia 2018</li>
            <li>2 maja 2018</li>
            <li>4 maja 2018</li>
        </ul>
    </div>
</section>