@section styles {
    @Styles.Render("~/Content/css/informacje/informacje.css")
    @Styles.Render("~/Content/css/informacje/lesson-schedules.css")
}

<!-- Site content -->
<section class="site-element site-content content">
    <h2>Plany lekcji</h2>
    <div class="content-wrapper">
        Jakis plan
    </div>
</section>