@section styles {
    @Styles.Render("~/Content/css/informacje/informacje.css")
    @Styles.Render("~/Content/css/informacje/meetings.css")
}

<!-- Site content -->
<section class="site-element site-content content">
    <h2>Spotkania z rodzicami</h2>
    <div class="content-wrapper">
        <ul class="spotkania">
            <li class="sem">I SEMESTR</li>
            <li>14 września (czwartek) godz. 17.15</li>
            <li>9 listopada (czwartek) godz. 17.00</li>
            <li>14 grudnia (czwartek) godz. 17.00</li>
            <li>12 stycznia (piątek) godz. 17.00</li>

            <li class="sem">II SEMESTR</li>
            <li>15 marca (czwartek) godz. 17.00</li>
            <li>26 kwietnia (czwartek) godz. 17.00</li>
            <li>24 maja (czwartek) godz. 17.00</li>

            <li class="foot">Zebranie w czerwcu w zależności od potrzeb wychowawców.
        </ul>
    </div>
</section>