@section styles {
    @Styles.Render("~/Content/css/informacje/informacje.css")
    @Styles.Render("~/Content/css/informacje/year-calendar.css")
}

 <!-- Site content -->
<section class="site-element site-content content">
    <h2>Kalendarz roku szkolnego 2017/2018</h2>
    <div class="content-wrapper">
        <div class="cal-left">
            01 września 2016<br><br>
            14 października 2016<br><br>
            11 listopada 2016<br><br>
            23 - 31 grudnia 2016<br><br>
            13 – 26 lutego 2017<br><br>
            13 – 18 kwietnia 2017<br><br>
            15 czerwca 2017<br><br>
            21 czerwca 2017<br><br>
            23 czerwca 2017<br><br>
            19 kwietnia 2017<br><br>
            20 kwietnia 2017<br><br>
            21 kwietnia 2017<br><br>
        </div>
        <div class="cal-right">
            Rozpoczęcie roku szkolnego<br><br>
            Dzień Edukacji Narodowej<br><br>
            Narodowe Święto Niepodległości<br><br>
            Zimowa przerwa świąteczna<br><br>
            Ferie zimowe<br><br>
            Wiosenna przerwa świąteczna<br><br>
            Boże Ciało<br><br>
            Uroczyste zakończenie kl. III gimnazjum<br><br>
            Zakończenie roku szkolnego<br><br>
            Egzamin część humanistyczna<br><br>
            Egzamin część matematyczno – przyrodnicza<br><br>
            Egzamin – język obcy<br><br>
        </div>
        <div class="clear"></div>
    </div>
</section>